# client
/client/node_modules

# server
/server/node_modules
/server/dist
/server/.env
/server/cert.pem
/server/key.pem

# misc 
/.vscode

# remove when production deployment
/server/public
/client/build